* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #f1f4f9);
}
section .color{
    /* position: absolute; */
    background-color: aqua;
    width: 10vh;
    height: 10vh;
}
